In [1]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
fl_business = pd.read_csv(r"/content/drive/MyDrive/Sem-IV/INFOSYS723 - Text Analytics and Business Application/fl_business.csv")

fl_business.head()

<ipython-input-2-b94220c67a25>:1: DtypeWarning: Columns (12,45,46,47,48,49,50,51,52,83,86) have mixed types. Specify dtype option on import or set low_memory=False.
  fl_business = pd.read_csv(r"/content/drive/MyDrive/Sem-IV/INFOSYS723 - Text Analytics and Business Application/fl_business.csv")

,business_id,categories,city,address,is_open,latitude,longitude,name,postal_code,review_count,...,attributes_WheelchairAccessible,attributes_WiFi,hours_Friday,hours_Monday,hours_Saturday,hours_Sunday,hours_Thursday,hours_Tuesday,hours_Wednesday,state
0,oaepsyvc0J17qwi8cfrOWg,"Beauty & Spas, Hair Salons",Orange City,2566 Enterprise Rd,1,28.914482,-81.295979,Great Clips,32763.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
1,SFqFFIA4Ks2oHfgEANoRlw,"Tapas Bars, Restaurants, American (New), Food,...",Orlando,8625 International Dr,1,28.440381,-81.469822,Café Tu Tu Tango,32819.0,3236,...,TRUE,u'free',10:0-0:0,12:0-23:0,10:0-0:0,10:0-22:0,12:0-23:0,12:0-23:0,12:0-23:0,FL
2,2PxZ-fICnd432NJHefXrcA,"Hotels & Travel, Airports",Orlando,1 Jeff Fuqua Blvd,1,28.427839,-81.308183,Orlando International Airport - MCO,32827.0,2630,...,TRUE,u'free',0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,FL
3,SrsebLQ5lVehQXJp8OcBUg,"Asian Fusion, American (New), Restaurants, Sus...",Orlando,"Universal Citywalk - Orlando, 6000 Universal Blvd",1,28.473028,-81.465348,The Cowfish Sushi Burger Bar,32819.0,2407,...,TRUE,'no',11:0-0:0,16:0-22:0,11:0-0:0,11:0-22:0,16:0-22:0,16:0-22:0,16:0-22:0,FL
4,MUeUyqhMja-nnmvgP4rBBg,"Hotels, Vacation Rentals, Hotels & Travel, Eve...",Kissimmee,4787 W Irlo Bronson Hwy,0,28.330255,-81.469464,Saratoga Resort Villas,34746.0,55,...,NaN,'free',0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,FL

1. In `attributes_BusinessAcceptsCreditCards` column, fill all missing values as 'None'.

In [3]:
# The fillna() function replaces any nan values in a Pandas Series with the value specified.
# The inplace=True flag ensures that the original Series is modified instead of creating a new Series.
fl_business.attributes_BusinessAcceptsCreditCards.fillna('None', inplace=True)

In [14]:
fl_business.attributes_BusinessAcceptsCreditCards.value_counts()

TRUE     7057
True     5569
None      162
FALSE     108
False      62
Name: attributes_BusinessAcceptsCreditCards, dtype: int64

2. In `attributes_BusinessAcceptsCreditCards` column, please convert all 'TRUE' and True values as 1, and all other values as 0. Store all converted values into a new column called `AcceptCreditCards`.

In [5]:
# The replace() function accepts a dictionary of values where
# The keys are the elements of the Series that need to be replace, and
# the values are the elements that they are replaced with.
fl_business['AcceptCreditCards'] = fl_business.attributes_BusinessAcceptsCreditCards.replace({True:1, 'TRUE':1, 'None':0, False:0, 'FALSE':0})

In [13]:
fl_business.AcceptCreditCards.value_counts()

1    12626
0      332
Name: AcceptCreditCards, dtype: int64

3. Please drop rows that have missing values in column `attributes_RestaurantsPriceRange2`.

In [7]:
# The dropna() function removes missing values.
# The subset paramenter allows to choose what column to look for nan values.
# The inplace=True flag ensures that the original DataFrame is modified instead of creating a new DataFrame.
fl_business.dropna(subset=['attributes_RestaurantsPriceRange2'],inplace=True)

In [15]:
fl_business.attributes_RestaurantsPriceRange2.value_counts()

2       7212
1       4708
3        873
4        162
None       3
Name: attributes_RestaurantsPriceRange2, dtype: int64

4. Column `attributes_RestaurantsCounterService` has a lot of missing data. Please drop this column.

In [9]:
# The drop() function removes rows or column by index.
# The label value contains the name of the column that needs to be dropped.
# The axis=1 flag indicates that a column needs to be removed.
# The inplace=True flag ensures that the original DataFrame is modified instead of creating a new DataFrame.

fl_business.drop('attributes_RestaurantsCounterService',axis=1,inplace=True)

In [10]:
fl_business.to_csv(r"/content/drive/MyDrive/Sem-IV/INFOSYS723 - Text Analytics and Business Application/INFOSYS723/cleaned_business.csv")